<ion-header>
  <ion-toolbar>
    <app-header title= "SignUp"> </app-header>
    <ion-back-button slot="start" defaultHref="home">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup] = 'signupForm'>
    <ion-row>
      <ion-col size-sm=6>
        <ion-item>
          <ion-label position = floating> Email </ion-label>
          <ion-input type = "text" autocomplete autocorrect formControlName="email"></ion-input>
         </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm=6>
         <ion-item>
          <ion-label position = floating> User </ion-label>
          <ion-input type = "text" autocomplete autocorrect formControlName="username"></ion-input>
         </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm=6>
        <ion-item>
          <ion-label position = floating> Password </ion-label>
          <ion-input type = "text" autocomplete autocorrect formControlName="password"></ion-input>
         </ion-item>
        </ion-col>
    </ion-row>
  </form>
  <br>
<ion-button expand="full" color= primary size="large" (click)= "onClickSignUp()" >
  <div class="ion-text-center">
    <ion-icon name="log-in-outline"></ion-icon>
  </div>
</ion-button>
<br>
</ion-content>