<div>
  <ion-img 
    role="ion-button"
    (click) = "onPickLocation()"    
    [scr]='selectedLocationImage' *ngIf="selectedLocationImage"></ion-img>
  <ion-button (click)="onPickLocation()"  color="primary" expand="block" fill="clear" shape="round">
    <ion-icon name="map" slot="start"></ion-icon>
    <ion-label>Select Location</ion-label>
  </ion-button>
</div>