<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> 
      <ion-item>
        <ion-label>
          {{ title }}
        </ion-label>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>
