<ion-header>
  <ion-toolbar>
    <app-header title= "Map"> </app-header>
    <ion-back-button slot="start" defaultHref="home">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
