<ion-header>
  <ion-toolbar>
    <app-header title= "Modificar"> </app-header>
    <ion-back-button slot="start" defaultHref="home">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <form [formGroup]="edit_restaurant">
      <ion-row>
        <ion-col size-sm=6>
           <ion-item>
            <ion-label> Nombre </ion-label>
            <ion-input type="text" [(ngModel)]="restauranteActual.nombre" autocomplete autocorrect formControlName="nombre"></ion-input>
           </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=6>
          <ion-item>
            <ion-label> Direccion    </ion-label>
            <ion-input type="text" [(ngModel)]="restauranteActual.direccion" autocomplete autocorrect formControlName="direccion"></ion-input>
           </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=6>
          <ion-item>
            <ion-label> Categoria    </ion-label>
            <ion-textarea type="text" [(ngModel)]="restauranteActual.categoria" autocomplete autocorrect formControlName="categoria"></ion-textarea>
           </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=6>
          <ion-item>
            <ion-label> Imagen   </ion-label>
            <ion-input type="text" [(ngModel)]="restauranteActual.foto"formControlName="image"></ion-input>
           </ion-item>
          </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-button expand="block" color= primary size="large" (click)= "onClick()" >
    <div class="ion-text-center">
      <ion-icon name="save"></ion-icon>
    </div>
  </ion-button>
</ion-content>
