<ion-header>
  <ion-toolbar>
    <app-header title= "Nuevo restaurante"> </app-header>
    <ion-back-button slot="start" defaultHref="home">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-back-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    
    <form [formGroup]="new_restaurant">
      <ion-row>
        <ion-col size-sm=6>
           <ion-item>
            <ion-label position = floating> Nombre </ion-label>
            <ion-input type = "text" autocomplete autocorrect formControlName="nombre"></ion-input>
           </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=6>
          <ion-item>
            <ion-label position = floating> Descripcion </ion-label>
            <ion-input type = "text" autocomplete autocorrect formControlName="descripcion"></ion-input>
           </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=6>
          <ion-item>
            <ion-label position = floating> Direccion </ion-label>
            <ion-input type = "text" autocomplete autocorrect formControlName="direccion"></ion-input>
           </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=6>
          <ion-item>
            <ion-label position = floating> Categoria </ion-label>
            <ion-textarea type = "text" autocomplete autocorrect formControlName="categoria"></ion-textarea>
           </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm=6>
          <ion-item>
            <ion-label position = floating> Imagen </ion-label>
            <ion-input type = "text" autocomplete autocorrect formControlName="foto" ></ion-input>
           </ion-item>
          </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-button expand="block" color= primary size="large" (click)= "onClickAdd()" >
    <div class="ion-text-center">
      <ion-icon name="save"></ion-icon>
    </div>
  </ion-button>
</ion-content>
