<ion-header>
  <ion-toolbar>
    <app-header title= "Sobre Nosotros"> </app-header>
    <ion-back-button slot="start" defaultHref="home">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <br>
    <ion-card-title>
      <header style= "text-align:center" >Eduardo Cortes Aguerfas</header>
      <br>
    </ion-card-title>
    <ion-card-content >
      <ion-label color=black>edo0869@hotmail.com </ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <br>
    <ion-card-title>
      <header style= "text-align:center" >Ignacio Rodriguez Ulate</header>
      <br>
    </ion-card-title>
    <ion-card-content >
      <ion-label color=black>ignacioulate15@hotmail.com </ion-label>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-card>
    <br>
    <ion-card-title>
      <header style= "text-align:center" >Andres Romero Zuñiga</header>
      <br>
    </ion-card-title>
    <ion-card-content >
      <ion-label color=black>andresromero472@gmail.com </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
