<ion-content [fullscreen]="true">
    <ion-toolbar>
      <app-header title= "Restaurant Finder"> </app-header>
    </ion-toolbar>
  <div id="container">
    <h1> MAP</h1>
    <ion-card>
      <br>
      <ion-card-title>
        <header style= "text-align:center" >Bienvenidos</header>
        <br>
      </ion-card-title>
      <ion-card-content >
        <ion-label color=black>Encuentra tus Restaurantes favoritos en un solo click </ion-label>
      </ion-card-content>
      <br>
      <ion-card-content>
        Tus restaurantes favoritos  
      </ion-card-content>
      <br>
      <img src="assets\data\restaurant.jpg"/>
    </ion-card>
    <br>

    <br>
  </div>
</ion-content>
