<ion-fab horizontal="start" vertical="bottom" slot="fixed">
  <ion-fab-button color="dark">
    <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" href = "/configuracion">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" href = "/account">
      <ion-icon name="person-outline" ></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" href="/map">
      <ion-icon name="map-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light" href="/restaurantes">
      <ion-icon name="restaurant-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="light"href = "/home">
      <ion-icon name="home-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>