<ion-toolbar>
  <ion-button slot="end" href= '/restaurantes/nuevo-restaurante'>
    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
  </ion-button>
  <app-header title= "Restaurantes"> </app-header>
      <ion-back-button slot="start" defaultHref="home">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    </ion-back-button>
  
</ion-toolbar>
<ion-content [fullscreen]="true">
  <div id= container>
    <br>
    <ion-searchbar animated (ionChange)="buscar($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let restaurante of restaurantes | async" [routerLink]="['./', restaurante.id]| filtro: textoBuscar: 'categoria'">
        <ion-card>
          <ion-card-title id=produc_tittle>
            <header>{{ restaurante.nombre }}</header>
            <br>
          </ion-card-title>
          <ion-card-content>
            <ion-img [src]="restaurante.foto" ></ion-img>
            <br>
            <ion-label>{{ restaurante.categoria }}</ion-label>
            <br>
            <ion-label>{{ restaurante.descripcion }}</ion-label>
            <br>
            <ion-label>{{ restaurante.direccion }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
    <br>
  </div>
</ion-content>